// Colors
// Figma https://www.figma.com/file/rmgtS2rcD8oQxqTHDQFctz/%F0%9F%A7%B1-Base?type=design&node-id=0-1&t=QGzXStjo6yu4Zl1R-0
$colors: (
  'desta-hover': #195ed9,
  'destacame': #126fec,
  'destacame-90': #2a7dee,
  'destacame-80': #2a7dee,
  'destacame-70': #418cf0,
  'destacame-60': #71a9f4,
  'destacame-50': #88b7f6,
  'destacame-40': #a0c5f7,
  'destacame-30': #b8d4f9,
  'destacame-25': #c4dbfa,
  'ghost': #418cf0,
  'white': #ffffff,

  'pro-dark': #5d0ba9,
  'pro': #6f39a1,
  'pro-90': #7b4aa8,
  'pro-80': #8c61b4,
  'pro-70': #9a74bd,
  'pro-60': #a988c7,
  'pro-50': #b79cd0,
  'pro-40': #ccb5e1,
  'pro-30': #decded,
  'pro-20': #eadff4,
  'pro-10': #f1ebf6,
  'pro-5': #f8f5fa,
  'pro-light': #bc7bf9,

  'bienestar-dark': #2ca9a3,
  'bienestar-base': #50bfba,
  'bienestar-90': #62c5c1,
  'bienestar-80': #73ccc8,
  'bienestar-70': #85d2cf,
  'bienestar-60': #96d9d6,
  'bienestar-50': #a7dfdd,
  'bienestar-40': #b9e5e3,
  'bienestar-30': #cbecea,
  'bienestar-20': #dcf2f1,
  'bienestar-10': #edf9f8,
  'bienestar-light': #dff4fe,

  'gray': #9e9e9e,
  'ilustration': #cbcbcb,
  'ilustration-90': #d0d0d0,
  'ilustration-80': #d5d5d5,
  'ilustration-70': #dbdbdb,
  'ilustration-60': #e0e0e0,
  'ilustration-50': #e5e5e5,
  'ilustration-40': #eaeaea,
  'ilustration-30': #efefef,
  'background': #f5f5f5,
  'perl': #fafafa,

  'oxford': #062754,
  'oxford-90': #1f3d65,
  'oxford-80': #385276,
  'oxford-70': #516887,
  'oxford-60': #6a7f98,
  'oxford-50': #8293a9,
  'oxford-40': #9ba9bb,
  'oxford-30': #b4becc,
  'oxford-20': #cdd4dd,
  'oxford-10': #e6e9ee,
  'oxford-light': #8595ab,

  'success-500': #184a18,
  'success-400': #1c581c,
  'success-300': #216721,
  'success-200': #267626,
  'success-100': #2a842a,
  'success': #2f932f,
  'success-90': #449e44,
  'success-80': #59a959,
  'success-70': #6db36d,
  'success-60': #82be82,
  'success-50': #97c997,
  'success-light': #edf7f0,

  'error-500': #701110,
  'error-400': #8d001a,
  'error-300': #9e001d,
  'error-200': #b00020,
  'error-100': #ca1e1d,
  'error': #e02120,
  'error-90': #e33736,
  'error-80': #e64d4d,
  'error-70': #e96463,
  'error-60': #ec7a79,
  'error-50': #f09090,
  'error-light': #fdefef,

  'warning-500': #5f3601,
  'warning-400': #714101,
  'warning-300': #844c01,
  'warning-200': #975601,
  'warning-100': #aa6101,
  'warning': #bd6c01,
  'warning-90': #c47b1a,
  'warning-80': #ca8934,
  'warning-70': #d1984d,
  'warning-60': #d7a767,
  'warning-50': #deb680,
  'warning-light': #faf5ed,

  'info-500': #155180,
  'info-400': #196199,
  'info-300': #1d71b3,
  'info-200': #2182cc,
  'info-100': #2182cc,
  'info': #29a2ff,
  'info-90': #3eabff,
  'info-80': #54b5ff,
  'info-70': #69beff,
  'info-60': #7fc7ff,
  'info-50': #94d1ff,
  'info-light': #eef5fb,

  'yellow-500': #80652a,
  'yellow-400': #997932,
  'yellow-300': #b38d3a,
  'yellow-200': #cca242,
  'yellow-100': #e6b64b,
  'yellow': #ffca53,
  'yellow-90': #ffcf64,
  'yellow-80': #ffd575,
  'yellow-70': #ffda87,
  'yellow-60': #ffdf98,
  'yellow-50': #ffe5a9,
  'yellow-light': #fff8e6,

  'orange-500': #803c00,
  'orange-400': #994700,
  'orange-300': #b35300,
  'orange-200': #cc5f00,
  'orange-100': #e66b00,
  'orange': #ff7700,
  'orange-90': #ff851a,
  'orange-80': #ff9233,
  'orange-70': #ffa04d,
  'orange-60': #ffad66,
  'orange-50': #ffbb80,
  'orange-light': #fff2e6,
);

@each $color, $value in $colors {
  .#{$color}--text {
    color: $value !important;
  }

  .#{$color}--bg {
    background-color: $value !important;
  }
}
